<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FuelPurchaseSQL" connectionString="Data Source=NAUS16alpha1;Initial Catalog=FuelPurchase;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    <!--<add name="OmniTracsData" connectionString="Data Source=NAUS03DT2\SQL2016,49345;Initial Catalog=OmniTracsData;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="serviceName" value="Fuel Service" />
    <add key="TimerWait" value="900000" />
    <add key="EmailUserName" value="noreply@carter-logistics.com" />
    <add key="EmailMicroService" value="http://10.0.1.70:2525/api/EmailService" />
    <add key="ErrorEmails" value="jreed@carter-logistics.com" />


  </appSettings>
</configuration>